@CHARSET "UTF-8";
#active_window{
	height:531px;	
	width: 975px;
	overflow: hidden;
	position: relative;
}
#active_frame {
	position: absolute;
}
#active_frame img {
	float: left;
}
#active_buttons {
	position: absolute;
	right:20px;
	bottom: 10px;
}
#active_buttons div {
	margin: 0px 10px;
	float: left;
	width: 100px;
	height: 50px;
	background-color: red;
	border: 1px solid;
}
#active_buttons div:hover{
	cursor: pointer;
}
#words {
	position: absolute;
	z-index:100;
}