@CHARSET "UTF-8";
#links{
	margin: 0px auto;
	width: 975px;
	height: 140px;
	position: relative;
	background: url(../image/link_footer.png) repeat-x 0px -406px;
}
#int_links {
	position: absolute;
	left: 75px;
}
#logo_links {
	position: absolute;
	left: 400px;
	width: 600px;
	height: 140px;
	background: url(../image/dianti_logos.png) no-repeat;
}
#contact {
	position: absolute;
	left: 700px;
}
#cgzn {
 	float:left;
}
#shfw {
	float:left;
}
#jhpj {
	float:left;
}
.link_div {
	margin-top: 10px;
	width: 120px;
}
.link_div span {
	font: 16px bold;
}
.link_div span:hover {
	cursor: pointer;
}
.link_div a {
	font: 12px bold;
	margin: 5px 0px 5px -36px;
}
.link_div a:hover {
	cursor: pointer;
}