@CHARSET "UTF-8";
@IMPORT url("./common.css");
@IMPORT url("./header.css");
@IMPORT url("./menu.css");
@IMPORT url("./active_frame.css");
@IMPORT url("./links.css");
@IMPORT url("./footer.css");
@IMPORT url("./item_intro.css");
body {
	padding: 0;
	margin: 0;
	color: #000;
	background: #fff;
	font: 14px Arial,Helvetica,sans-serif;
}
#w_all{
	background: url(/image/bg.png) no-repeat top center; 
}
#w1,#w2,#w3,#w4 {
	margin: 0px 0px;
}
.container {
	margin: 0 auto;
	width: 975px;
}
#item_main_right {
	margin: 10px 0px 0px 0px;
	height: 500px;
	width: 740px;
	float: right;
}
#item_main_left {
	margin: 10px 0px 0px 0px;
	height: 500px;
	width: 200px;
	float:left;
}
#related_sort {
	width: 200px;
	margin: 0px 0px 5px 0px;
}
.sf_t {
	background-color: #f7f7f7;
	border: 1px solid #ddd;
	text-align: left;
	padding: 8px;
	font-size: 14px;
	color: #666;
}
.sf_c {
	border: 1px solid #ddd;
	padding: 8px;
	font-size: 12px;
	color: #666;
}
.clear{
	clear:both;
}
#breadcrumb {
	margin: 5px;
	font-size: 14px;
}
#breadcrumb strong:hover {
	cursor: pointer;
}
#breadcrumb span{
	color: #666;
	font-size: 10px;
}
#breadcrumb a{
	text-decoration: none;
}
#search_bd {
	margin: 5px;
	font-size: 14px;
}