@CHARSET "UTF-8";
@IMPORT url("./common.css");
@IMPORT url("./header.css");
@IMPORT url("./menu.css");
body {
	padding: 0 10px 10px;
	margin: 0;
	color: #000;
	background: #fff;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
}
.window{
	height:531px;	
	width: 970px;
	overflow: hidden;
	position: relative;
}
.active_frame {
	position: absolute;
	padding: 0px;
	margin: 0px;
}
.active_frame img {
	float: left;
}
.active_bottons {
	position: relative;
	top: 20;
	left: 20;
	z-index: 100;
}
.item_intro {
	height: 350px;
	width: 970px;
	position: relative;
	background: yellow;
}
.main_right {
	margin: 0;
	height: 500px;
	width: 770px;
	float: right;
	background: blue;
}
.main_left {
	margin: 0;
	height: 500px;
	width: 200px;
	float:left;
	background: red;
}