@CHARSET "UTF-8";
@IMPORT url("./common.css");
@IMPORT url("./header.css");
@IMPORT url("./menu.css");
@IMPORT url("./active_frame.css");
@IMPORT url("./links.css");
@IMPORT url("./footer.css");
@IMPORT url("./item_intro.css");
body {
	padding: 0 10px 10px;
	margin: 0;
	color: #000;
	background: #fff;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
}
#w_all{
	background: #fff url(/image/bg.png) no-repeat top center; 
}
#w1 {
	margin: 0px 10px;
	border: dotted 0px;
}
#w2 {
	margin: 0px 10px;
	border: dotted 0px;
}
#w3 {
	margin: 0px 10px;
	border: dotted 0px;
}
#w4 {
	margin: 0px 10px;
	border: dotted 0px;
}
.container {
	margin: 0 auto;
	padding: 0;
	width: 970px;
}
.main_right {
	margin: 10px 0px 0px 0px;
	height: 500px;
	width: 740px;
	float: right;
}
.main_left {
	margin: 10px 0px 0px 0px;
	height: 500px;
	width: 200px;
	float:left;
}
.related_sort {
	width: 200px;
	margin: 0px 0px 5px 0px;
}
.sf_t {
	background-color: #f7f7f7;
	border: 1px solid #ddd;
	text-align: center;
}
.sf_c {
	border: 1px solid #ddd;
}
.clear{
	clear:both;
}