@CHARSET "UTF-8";
.navigation {
	margin: 0;
	padding: 0;
	width: 970px;
	height: 46px;
}
ul.menu {
	float: left;
	margin: 0px;
	padding: 0px;
	width: 970px;
	position: relative;
	background: #fff;
	background:url("../image/menu.png") repeat-y 0 0 
}
.menu li { 
	float: left;
	list-style-type: none; 
	cursorï¼šhand;
}
.menu a{
	display: block;
	color: #393939;
	padding: 1px 12px 0;
	display: table-cell;
	font-size: 12px;
	height: 45px;
	text-align: center;
	vertical-align: middle;
}
.menu a:hover { 
	text-decoration:none;
	boder: solid 1px;
	cursor:pointer;
	}